* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f2f2f2;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    margin-bottom: 10px;
}
.calculator {
    width: 90%;
    max-width: 320px;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border: 0.1px solid rgba(139, 139, 139, 0.377);
}

#display {
    width: 100%;
    height: 60px;
    font-size: 26px;
    text-align: right;
    padding: 10px;
    background: #eee;
    /* border: none; */
    border-radius: 8px;
    margin-bottom: 12px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    background: #e3e3e3;
    cursor: pointer;
}

button.op {
    background: #d1d1d1;
}

button.equal {
    background: #4caf50;
    color: #fff;
}

button:active {
    transform: scale(0.97);
}

button.ac {
    background: rgba(255, 44, 44, 0.781);
    color: #fff;
}

button.del:hover{
    background: rgba(238, 170, 44, 0.829);
    color: #fff;
}